mixin document-head(pathPrefix)
  head

    // Basic Page Needs
    // ==================================================
    meta(charset="utf-8")
    title Birch Hill Landscaping - Landscape Architecture
    meta(name="author" content="")
    meta(name="description" content="Birch Hill Landscaping specializes in custom landscape design, architecture, construction, and installation. Transform your outdoor space with expert planning and high-quality hardscaping, patios, pools, and more. Serving New Jersey with stunning, functional landscapes tailored to your needs.")

    // Mobile Specific Metas
    // ==================================================
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="format-detection" content="telephone=no")

    // CSS
    // ==================================================
    link(type="text/css" rel="stylesheet" href="https://www.demandforced3.com/b/1/css/website.css")
    link(type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300")
    link(type="text/css" rel="stylesheet" href=pathPrefix + "css/main.css")

    // Scripts
    // ==================================================
    script(src=pathPrefix + "javascripts/vendor/jquery-1.11.1.min.js")
    script(src=pathPrefix + "javascripts/vendor/sss.js")
    script(src=pathPrefix + "javascripts/main.min.js")
    script(type="application/ld+json").
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Birch Hill Landscaping",
        "image": "https://www.birchhillinc.com/images/logo@2x.png",
        "@id": "https://www.birchhillinc.com",
        "url": "https://www.birchhillinc.com",
        "telephone": "973-376-0538",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "38 Chatham Road",
          "addressLocality": "Short Hills",
          "addressRegion": "NJ",
          "postalCode": "07078",
          "addressCountry": "US"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 40.741895,
          "longitude": -74.271003
        },
        "sameAs": [
          "https://www.facebook.com/BirchHillLandscaping",
          "https://twitter.com/birchhillinc"
        ]
      }

    // Favicons
    // ==================================================
    link(rel="shortcut icon" href=pathPrefix + "images/favicon.ico" type="image/x-icon")
    link(rel="icon" href=pathPrefix + "images/favicon.ico" type="image/x-icon")
