mixin document-head(pathPrefix)
  head

    // Basic Page Needs
    // ==================================================
    meta(charset="utf-8")
    title Birch Hill Landscaping - Landscape Architecture
    meta(name="description" content="")
    meta(name="author" content="")
    meta(name="keywords" content="Millburn 07041, Maplewood 07040, Short Hills 07078, Summit 07901, Chatham 07928, New Providence 07974, Berkeley Heights 07922, South Orange 07079, West Orange 07052, Morris Plains 07950, Morristown 07960, 07961, 07962, 07964 Morris county, Union county, Essex county Landscape design, Landscape architect, landscape architecture, landscape construction, landscape planning, landscape installation, masonry planting, sitting walls, kitchens, patios, decks, ponds streams, pools, swimming pools, screening, privacy planting, landscape lighting, low-voltage lighting, 12 volt lighting, accent lighting, security lighting, hardscaping, bluestone, brick, pavers, natural stone")
    meta(name="description" content="Birch Hill Landscaping provides several services that are tailored specifically to each client. These services include Landscape Design, Landscape Architecture, Landscape Construction, Landscape Planning and Installation.")
    meta(name="robots" content="noindex, nofollow")

    // Mobile Specific Metas
    // ==================================================
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="format-detection" content="telephone=no")

    // CSS
    // ==================================================
    link(type="text/css" rel="stylesheet" href="https://www.demandforced3.com/b/1/css/website.css")
    link(type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300")
    link(type="text/css" rel="stylesheet" href=pathPrefix + "css/main.css")

    // Scripts
    // ==================================================
    script(src=pathPrefix + "javascripts/vendor/jquery-1.11.1.min.js")
    script(src=pathPrefix + "javascripts/vendor/sss.js")
    script(src=pathPrefix + "javascripts/main.min.js")

    // Favicons
    // ==================================================
    link(rel="shortcut icon" href=pathPrefix + "images/favicon.ico" type="image/x-icon")
    link(rel="icon" href=pathPrefix + "images/favicon.ico" type="image/x-icon")
