mixin navigation(pathPrefix)
  .bodyOverlay
  #Navigation
    .row
      .container
        #Logo.column.oneThird
          a(href=pathPrefix + "index.html")
            img(alt="" src="../images/logo@2x.png" width="207px" height="80px")
        #MoibleMenu
          .centerline
        #Nav.column.twoThirds
          ul
            li.mobileItem
              a(href=pathPrefix + "index.html") Home
            li
              a(href=pathPrefix + "src/about.html") About
            li
              a(href=pathPrefix + "src/gallery.html") Gallery
            li
              a(href=pathPrefix + "src/services.html") Services
            li
              a(href=pathPrefix + "src/contact.html") Appointments
            li
              a(href=pathPrefix + "src/reviews.html") Reviews
