mixin navigation(pathPrefix)
  .bodyOverlay
  #Navigation
    .row
      .container
        #Logo.column.oneThird
          a(href=pathPrefix + "index.html")
            img(alt="Birch Hill Landscaping Logo" src=pathPrefix + "images/logo@2x.png" width="187px" height="70px")
        #MoibleMenu
          .centerline
        #Nav.column.twoThirds
          ul
            li.mobileItem
              a(href=pathPrefix + "index.html") Home
            li
              a(href=pathPrefix + "about.html") About
            li
              a(href=pathPrefix + "gallery.html") Gallery
            li
              a(href=pathPrefix + "services.html") Services
            li
              a(href=pathPrefix + "contact.html") Book Appointment
